

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>THIS IS THE ABOUT PAGE, 'n stuff</h1>
		<p>I WANT TO BE LIKE AJAHN.</p>
	</div>
	<div class="panel-body">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/USC5MJVZLy8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="panel-footer">
		<p> His laugh is contageous </p>
	</div>

</div>