<div class="jumbotron center">
	<h1>Hi! Welcome to my new app!</h1>
	<p> 
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %> 
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Give Money", "#", class: "btn btn-default btn-lg" %>


	</p>
</div>