<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Outline of the blog I will make some day (when I learn Rails)</h3>
  </div>
  <div class="panel-body">
    My blog will have a few compontents that the user can tab over to from overhead tabs:
      
  </div>
    <div class="pannel-body">
    -story: this tab will include stories that describe my efforts to train as a cyclist/runner whilst being unemployed.  The subject of these stories will center around cycling and the outdoors but will have a personal nature.  They are STORIES first and formost.  These stories will be supplimented with photos set within the text.
  </div>
  <div class="pannel-body">
    -data: the "data" section will be comprised of information about the gear I'm using--my bike, what components, new things I'm trying out--as well as GIS plug-ins (possibly google maps) displaying my rides and runs.  This section will be targetted towards "gear heads" who mostly want stats, numbers, and how-to articles with comments and reviews.
  </div>
</div>